body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #34495E ;
    background-image: url("h12.jpeg");
    background-size: cover;
}

h1, h2 {
    text-align: center;
}

.input {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.labels {
    display: block;
    margin-bottom: 5px;
}

#Category, #Amount, #Date {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: larger;
}
button:hover{
    background-color: #dddddd;
    color: #FF5733; 
    font-weight: 700;
}

.Expenses {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tfoot td {
    font-weight: bold;
    text-align: right;
}
